extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance
  else
    - let Vehicleid = toShow._id
    - let Vehicle_Vehicle_name = toShow.Vehicle_name
    - let Vehicle_Vehicle_model = toShow.Vehicle_model
    - let Vehicle_Vehicle_Cost = toShow.Vehicle_model
    div
      div.row
        div(class='VehicleAttr mr-3') Vehicle ID is:
        div #{Vehicleid}
      div.row
        div(class='VehicleAttr mr-3') Vehicle Type is:
        div #{Vehicle_Vehicle_name}
      div.row
        div(class='VehicleAttr mr-3') Vehicle Cost is:
        div #{Vehicle_Vehicle_Cost}
      div.row
        div(class='VehicleAttr mr-3') Vehicle model is:
        div #{Vehicle_Vehicle_model}